* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;

  scrollbar-gutter: stable;
  background-color: #1f2123;
  color: var(--textColor);

  margin: 0;

  background-image: image-set(
    url("../../public/beckgroundMobile@1x.png") type("image/png") 1x,
    url("../../public/beckgroundMobile@2x.png") type("image/png") 2x
  );
  background-repeat: repeat;
  background-position: center;
  background-size: 768px;

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url("../../public/beckgroundDecktop@1x.png") type("image/png") 1x,
      url("../../public/beckgroundDecktop@2x.png") type("image/png") 2x
    );
    background-size: 1800px;
  }
}

button {
  cursor: pointer;
}

input {
  cursor: text;
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}

button,
input {
  outline: none;
  border: none;
  padding: 0px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

li,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0px;
  padding: 0px;
}
