:root {
  --animation: 200ms ease-out;
  --containerPadding: 0 3vw;

  --primaryColor: #ffb74b;
  --primaryDisabledColor: rgba(255, 183, 75, 0.1);
  --howerColor: rgba(255, 184, 77, 0.5);

  --primaryBGColor: #1f2123;
  --secondaryBGColor: #28292b;
  --modalBGColor: rgba(0, 0, 0, 0.5);

  --textColor: #ffffff;

  --whiteColor: #ffffff;
  --greenColor: #248b00;
  --redColor: #bf1c1c;
}
