:root {
  --animation: 200ms ease-out;

  --primaryColor: #ffb74b;
  --primaryDisabledColor: rgba(255, 183, 75, 0.5);
  --howerColor: rgba(255, 183, 75, 0.2);

  --primaryBGColor: #1f2123;
  --secondaryBGColor: #28292b;

  --textColor: #ffffff;

  --whiteColor: #ffffff;
  --greenColor: #248b00;
  --redColor: #bf1c1c;
}
